
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Long Play</h1>
    <p class="lead">How much human history went into that cat video?</p>
  </div>
</header>

<div class="container body">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="alert alert-danger" ng-show="error">
        {{error}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="url" class="sr-only">YouTube Video URL</label>
        <input type="text" class="form-control" id="url" ng-model="url" placeholder="YouTube Video URL" ng-keyup="$event.keyCode == 13 && process()">
      </div>
    </div>
    <div class="col-sm-4">
      <span class="btn btn-primary btn-block" ng-click="process()">Go!</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" ng-show="processing">
      <h2 class="text-center"><i class="fa fa-spin fa-spinner"></i> Processing...</h2>
    </div>
    <div class="col-sm-12" ng-show="video.url">
      <h2 class="text-center">{{video.name}}<br><small>uploaded by {{video.uploader}}</small></h2>
      <p ng-hide="video.bc">Has been watched {{video.views|number}} times. At {{video.length.seconds().duration()}} long, that's {{video.playedLength | number}} minutes. Or {{(video.playedLength / 60) | number}} hours, if you prefer. <span ng-show="(video.playedLength / 1440)"></span></p>
      <p ng-show="video.bc">Has been watched {{video.views|number}} times. For a total of about {{(video.playedLength / 525960) | number:0}} years. Wow.</p>
      <p class="lead" ng-hide="video.bc">For one person to watch it, they'd have to start on {{video.pastDate|date:'mediumDate'}}.</p>
      <p class="lead" ng-show="video.bc">For one person to watch it, they'd have to start in the year {{video.pastDate.getFullYear()|number}} BC.</p>
      <p class="lead">{{blurb}}.</p>
      <div class="row">
        <div class="col-md-4">
          <a target="_blank" ng-href="https://twitter.com/intent/tweet?text=This YouTube video has run for about {{video.playedLength / 60 | number:0}} combined hours. &hashtags=longplay&url={{here}}&via=hupfen" class="btn btn-link btn-block"><i class="fa fa-twitter"></i> Share on Twitter</a>
        </div>
        <div class="col-md-4">
          <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{here}}" class="btn btn-link btn-block"><i class="fa fa-facebook"></i> Share on Facebook</a>
        </div>
        <div class="col-md-4">
          <a target="_blank" href="https://plus.google.com/share?url={{here}}" class="btn btn-link btn-block"><i class="fa fa-google-plus"></i> Share on Google+</a>
        </div>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" ng-src="{{video.url}}"></iframe>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/hupfen">@hupfen</a> |
         <a href="http://fortnight.club">A Fortnight Club project</a></p>
      <p>This site has no affiliation whatsoever with YouTube, Google, or anyone really</p>
  </div>
</footer>
